<md-tabs md-dynamic-height="{{!editMode}}" ng-class="{'md-primary': editMode}" layout-fill>
    <md-tab label="general">
        <div ng-if="editMode" layout="row" layout="center center">
            <md-input-container flex-gt-sm>
                <label>Name</label>
                <input ng-model="preset.name" ng-model-options="{debounce: debounceInterval}" ng-disabled="(editMode && preset.type == 'default')">
            </md-input-container>
            <md-input-container flex-gt-sm>
                <label>Description</label>
                <input ng-model="preset.description" ng-model-options="{debounce: debounceInterval}" ng-disabled="(editMode && preset.type == 'default')">
            </md-input-container>
        </div>
        <div layout="row" layout="center center">
            <md-input-container flex>
                <label>Output Format</label>
                <md-select ng-model="options.outputFormat" style="text-transform: capitalize;" ng-disabled="(editMode && preset.type == 'default')">
                    <md-option ng-repeat="format in outputFormats" value="{{format}}">{{format}}</md-option>
                </md-select>
            </md-input-container>
            <md-input-container flex>
                <label>Native Language</label>
                <md-select ng-model="options.nativeLanguage" style="text-transform: capitalize;" ng-disabled="(editMode && preset.type == 'default')">
                    <md-option ng-repeat="lang in nativeLanguages" value="{{lang}}">{{lang}}</md-option>
                </md-select>
            </md-input-container>
        </div>
        <div layout="row" style="position: relative;">
            <md-input-container flex>
                <label>Destination</label>
                <input ng-model="options.destination" ng-model-options="{debounce: debounceInterval}" ng-disabled="(editMode && preset.type == 'default')">
                <div class="hint">Directory for all encoded videos, screenshots, and samples</div>
            </md-input-container>
            <md-button ng-click="selectDestination()" style="margin: 0 8px;">
                Browse
            </md-button>
        </div>
        <div layout="row">
            <section flex="50">
                <md-input-container class="md-block">
                    <md-switch ng-model="options.preview" class="md-primary md-block" aria-label="Preview" ng-disabled="(editMode && preset.type == 'default')">
                        Preview
                    </md-switch>
                    <div class="hint">Only encodes the first {{options.previewLength / 1000}} seconds. Starts half way though the input video.</div>
                </md-input-container>
                <md-input-container class="md-block">
                    <md-switch ng-model="options.delete" class="md-warn md-block" aria-label="Replace Source" ng-disabled="(editMode && preset.type == 'default')">
                        Replace Source
                    </md-switch>
                    <div class="hint">Replaces source with encoded media. USE WITH CAUTION!</div>
                </md-input-container>
            </section>
            <section flex="50">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Preview Length</label>
                    <input type="number" ng-model="options.previewLength" min="5000" step="10000" ng-model-options="{debounce: debounceInterval}" ng-disabled="!options.preview || (editMode && preset.type == 'default')">
                    <div class="hint">Time in milliseconds</div>
                </md-input-container>
                <md-slider-container class="md-block resize-fix" flex>
                    <span class="md-body-1">Normalization Level</span>
                    <md-slider flex md-discrete ng-model="options.normalizeLevel" min="0" step="1" max="5" aria-label="Normalization Level" id="normalization-slider" class="md-primary" ng-model-options="{debounce: debounceInterval}" ng-disabled="(editMode && preset.type == 'default')"></md-slider>
                    <div class="hint"><a ng-click="showNormalizationLevels()">Help</a></div>
                    <md-tooltip class="custom" md-delay="::tooltipDelay">
                        Determines the level of normalization to apply to the encode.
                    </md-tooltip>
                </md-slider-container>
            </section>
        </div>
    </md-tab>
    <md-tab label="video">
        <div layout="row" layout-align="center center">
            <md-slider-container class="md-block" flex>
                <span class="md-body-1">Quality</span>
                <md-slider flex ng-model="options.quality" ng-disabled="options.videoBitrate || (editMode && preset.type == 'default')" min="0" max="51" aria-label="Quality" id="quality-slider" class="md-primary">
                </md-slider>
                <md-input-container>
                    <input flex type="number" ng-model="options.quality" ng-disabled="options.videoBitrate || (editMode && preset.type == 'default')" aria-label="Quality" aria-controls="quality-slider">
                </md-input-container>
                <md-tooltip class="custom" md-delay="::tooltipDelay">
                    Quality-controlled variable bitrate. CRF is the default rate control method; it does not try to reach any particular bitrate target, instead it tries to achieve a given uniform quality and the size of the bitstream is determined by the complexity of the source video. The higher the rate factor the higher the quantization and the lower the quality.
                </md-tooltip>
            </md-slider-container>
            <span class="hint" style="padding: 10px 20px;">or</span>
            <md-input-container class="md-block" flex-gt-sm>
                <label>Video Bitrate</label>
                <input type="number" ng-model="options.videoBitrate" min="0" step="10" ng-model-options="{debounce: debounceInterval}" ng-disabled="(editMode && preset.type == 'default')">
                <div class="hint">Setting this to anything other than 0 will disable CRF and enable VBR encoding.</div>
            </md-input-container>
        </div>
        <md-input-container>
            <label>Preset</label>
            <md-select ng-model="options.preset" style="text-transform: capitalize;" ng-disabled="(editMode && preset.type == 'default')">
                <md-option ng-repeat="preset in presets" value="{{preset}}">{{preset}}</md-option>
            </md-select>
            <div class="hint">Trade Quality for Encoding Speed</div>
            <md-tooltip class="custom" md-delay="::tooltipDelay">
                Sets parameters to preselected values, trading off compression efficiency against encoding speed. These parameters are applied before all other input parameters are applied, and so you can override any parameters that these values control.
            </md-tooltip>
        </md-input-container>
        <md-input-container class="md-block">
            <label>X265 Advanced Options</label>
            <textarea ng-model="options.extraOptions" rows="2" md-select-on-focus ng-model-options="{debounce: debounceInterval}" ng-disabled="(editMode && preset.type == 'default')"></textarea>
            <div class="hint">Use <a href="#">ffmpeg format</a>. Example: bframes=6:pmode:psy-rd=3.2</div>
        </md-input-container>
    </md-tab>
    <md-tab label="audio">
        <md-input-container class="md-block">
            <md-switch ng-model="options.heAudio" class="md-primary md-block" ng-disabled="options.outputFormat == 'mp4' || (editMode && preset.type == 'default')" aria-label="HE Audio">
                HE Audio
            </md-switch>
            <div class="hint">Encodes lossy audio with the OPUS codec at 40kbps per channel.</div>
        </md-input-container>
        <md-input-container class="md-block">
            <md-switch ng-disabled="!options.heAudio" ng-model="options.forceHeAudio" class="md-primary md-block" aria-label="Force HE Audio" ng-model-options="{debounce: debounceInterval}" ng-disabled="(editMode && preset.type == 'default')">
                Force HE Audio
            </md-switch>
            <div class="hint">Forces encoding of both lossy and lossless audio.</div>
        </md-input-container>
        <md-input-container class="md-block">
            <md-switch ng-disabled="!options.heAudio" ng-model="options.downmixHeAudio" class="md-primary md-block" aria-label="Downmix HE Audio" ng-model-options="{debounce: debounceInterval}" ng-disabled="(editMode && preset.type == 'default')">
                Downmix HE Audio
            </md-switch>
            <div class="hint">Downmixes audio with more than 3 channels to stereo using Dolby Pro Logic II.</div>
        </md-input-container>
    </md-tab>
    <md-tab label="extra">
        <div layout="row">
            <div flex="50">
                <md-input-container class="md-block">
                    <md-switch ng-model="options.override" class="md-primary md-block" aria-label="Override" ng-disabled="(editMode && preset.type == 'default')">
                        Override
                    </md-switch>
                    <div class="hint">Allows videos that are already encoded in HEVC to be re-encoded.</div>
                </md-input-container>
                <md-input-container class="md-block">
                    <md-switch ng-model="options.accurateTimestamps" class="md-primary md-block" aria-label="Accurate Timestamps" ng-disabled="(editMode && preset.type == 'default')">
                        Accurate Timestamps
                    </md-switch>
                    <div class="hint">Substantially increases file size but sometimes fixes timestamps.</div>
                </md-input-container>
                <md-input-container class="md-block">
                    <md-switch ng-model="options.upconvert" class="md-primary md-block" aria-label="Upconvert" ng-disabled="(editMode && preset.type == 'default')">
                        Upconvert
                    </md-switch>
                    <div class="hint">Converts Vobsub subs to srt; Only works when output format is mkv.</div>
                </md-input-container>
            </div>
            <div flex="50">
                <!--<md-input-container class="md-block">
                    <md-switch ng-model="options.sample" class="md-primary md-block" aria-label="Sample" ng-disabled="(editMode && preset.type == 'default')">
                        Sample
                    </md-switch>
                    <div class="hint">Create a {{options.previewLength / 1000}} second preview of the finished encode.</div>
                </md-input-container>-->
                <md-input-container class="md-block">
                    <md-switch ng-model="options.screenshots" class="md-primary md-block" aria-label="Screenshots" ng-disabled="(editMode && preset.type == 'default')">
                        Screenshots
                    </md-switch>
                    <div class="hint">Create 6 screenshots of the finished encode.</div>
                </md-input-container>
            </div>

        </div>
    </md-tab>
</md-tabs>
