<style>
    .md-subheader ._md-subheader-inner {
        padding: 4px 16px;
    }
</style>
<section layout="column" style="height: 100%; position: relative;">
    <div flex style="padding-bottom: 87px; overflow: auto;" layout="column">
        <div style="height: 100px;" layout="row" layout-align="center center" ng-show="videos.length <= 0 && !currentlyProcessing()">
            <div style="text-transform: lowercase; color: lightgrey;" class="md-caption">Use the Add tab to add videos to the queue</div>
        </div>
        <md-list flex class="md-dense">
            <video-block ng-if="currentlyProcessing()" video="currentlyProcessing()"></video-block>
            <video-block ng-repeat="video in videos track by video.id" video="video"></video-block>
        </md-list>
    </div>
    <md-button class="md-fab md-fab-bottom-right" ng-class="$root.Encoder.running ? 'md-warn' : 'md-primary'" aria-label="Run" ng-click="$root.Encoder.running ? platform === 'win32' ? $root.stopEncoder() : $root.pauseEncoder() : $root.startEncoder()">
        <fa name="{{$root.Encoder.running ? platform === 'win32' ? 'stop' : 'pause' : 'play'}}"></fa>
    </md-button>
</section>
